<!-- templates/article_list.html -->
{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
    {% for article in object_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">{{ article.title }}</span> &middot;
                <span class="text-muted">by {{ article.author }} |
                {{ article.date }}</span>
            </div>
            <div class="card-body">
                <p>{{ article.body }}</p>
                <a href="{% url 'article_edit' article.pk %}">Edit</a> |
                <a href="{% url 'article_delete' article.pk %}">Delete</a>

                <p><span style="color: #a9a9a9; ">To leave a comment write to our censorship team on censorship@newspaper.io</span> </p>
            </div>
            <div class="card-footer">
                {% for comment in article.comments.all %}
                    <p>
                        <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                        {{ comment }}
                    </p>
                {% endfor %}
            </div>
        </div>
        <br />
    {% endfor %}
{% endblock content %}